[Service]
ExecStart=/usr/local/bin/bitraf-door-subscriber
WorkingDirectory=/
Restart=always
User=nobody
Group=nogroup
Environment="BROKER=@BROKER@" "DOOR=@DOOR@"

[Install]
WantedBy=multi-user.target
