[Service]
ExecStart=/usr/local/bin/bitraf-door-subscriber
WorkingDirectory=/
Restart=always
User=nobody
Group=nogroup
Environment="BROKER=.." "DOOR=.." "MQTT_USERNAME=.." "MQTT_PASSWORD=.."

[Install]
WantedBy=multi-user.target
