[Service]
ExecStart=/usr/local/bin/bitraf-door-subscriber
WorkingDirectory=/
Restart=always
User=nobody
Group=nogroup
Environment="BROKER=.." "DOOR=.."

[Install]
WantedBy=multi-user.target
