[Service]
ExecStartPre=/bin/sh -c "./dlock13-msgflo/dlock13-gpio-setup ${DLOCK13_PIN} out"
ExecStart=/bin/sh -c "./dlock13-msgflo/build/dlock13 %i /sys/class/gpio/gpio${DLOCK13_PIN}/value"
WorkingDirectory=/home/pi/dlock13
Restart=always
RestartSec=3
User=pi
Group=pi
EnvironmentFile=/etc/dlock13/%i.conf
Environment="MSGFLO_BROKER=mqtt://mqtt.bitraf.no?clientId=dlock13-%i"

[Unit]
After=network-online.target

[Install]
WantedBy=multi-user.target
